<nav class="navbar">    
    <div class="nav-links">
        <a routerLink="/home" routerLinkActive="active" aria-current="page">Home</a>
        <a routerLink="/nesting" routerLinkActive="active" aria-current="page">Nesting</a>
        <a routerLink="/liste" routerLinkActive="active" aria-current="page">Liste d'amis</a>
        <a routerLink="/directive" routerLinkActive="active" aria-current="page">Directive</a>
        <a routerLink="/blog" routerLinkActive="active" aria-current="page">Blog</a>
        <a routerLink="/pokemon" routerLinkActive="active" aria-current="page">Pokemon</a>
        <a routerLink="/renard" routerLinkActive="active" aria-current="page" (click)="playMusic()">Renard</a>
    </div>
    <div class="animation-buttons">
        <button class="pokeball-btn" (click)="throwPokeball()">🎾 Lancer une Pokéball</button>
        <button class="bomb-btn" (click)="dropBomb()">💣 Lancer une bombe</button>
        <button class="firework-btn" (click)="launchFireworks()">🎆 Feu d'artifice</button>
    </div>
</nav>

<canvas id="animationCanvas"></canvas>
