<h2>Liste des Amis</h2>
<input type="text" [(ngModel)]="friendName" placeholder="Entrez un nom d'ami" />
<p>{{ friendName }}</p>
<button (click)="reset()" [disabled]="friendName.length === 0">Reset Input</button>
<button (click)="onAddFriend()" [disabled]="friendName.length === 0">Ajouter un ami</button>
<p *ngIf="statusMessage === 'Aucun ami'">Aucun ami</p>
<p *ngIf="statusMessage !== 'Aucun ami'">{{ statusMessage }}</p>
<div class="friends-list">
    <article *ngFor="let friend of friends">
        <app-one-friend [friend]="friend">
        </app-one-friend>
    </article>
</div>
